.prices {
  max-width: 1120px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'TT Lakes';
  background: $platinum-color;
  margin: 0;

  &__header h2 {
    display: inline-block;
    opacity: 0.6;
    font-weight: normal;
    font-size: 16px;
  }
  &__header {
    min-height: 56px;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
  }
  &__head-table {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  &__head-table h3 {
    color: #7e7e82;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 4px;
  }
  &__wrapper {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    overflow: hidden;
  }
  &__logo {
    position: relative;
    width: 240px;
    height: 200px;
    background-color: $white-color;
    border: 2px solid $logo-border-color;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    color: #1b1c21;
    font-size: 14px;
    font-style: bold;
  }
  &__logo span {
    font-size: 14px;
    font-weight: 400;
  }
  &__logo li:nth-child(1) {
    width: 220px;
  }
  &__main div {
    margin: 0;
  }
  &__logo h3 {
    color: #7e7e82;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 4px;
  }
  &__button {
    position: absolute;
    bottom: -1px;
    right: 0px;
  }
  &__button button {
    position: absolute;
    bottom: 16px;
    right: 16px;
    // margin-top: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: bottom;
    width: 119px;
    height: 32px;
    background-color: $callBack-references-color;
    border-radius: 16px;
  }
  &__button button:hover {
    filter: opacity(0.6);
    transition-property: filter;
    transition-duration: 0.25s;
    transition-timing-function: linear; 
  }
  &__button span {
    color: #ffffff;
    font-weight: bold;
    font-style: bold;
    font-size: 12px;
  }
  &__button span::after {
    content: '';
    margin-left: 17px;
    border: solid $white-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
  &__info {
    // width: 421px;
    // height: 60px;
    margin-bottom: 50px;
    margin-left: 32px;
    text-decoration: none;
  }
  &__info a {
    color: inherit;
    text-decoration: none;
  }
  &__info p {
    color: #1b1c21;
    font-size: 14px;
    font-style: light;
    font-weight: 350;
  }

  &__info p:nth-child(2) {
    color: #1b1c21;
    font-size: 16px;
    font-style: medium;
    font-weight: 700;
  }

  &__info p:nth-child(2)::after {
    content: '';
    border: solid $callBack-references-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
  }
  @media all and (min-width: 768px) {
    &__wrapper {
      margin-left: 32px;
      margin-right: 32px;
    }
    &__logo {
      width: calc(100% - 30px);
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #eaeaea;
      margin-left: 15px;
      // margin-right: 20px;
      margin-bottom: 0;
      margin-top: 0;
    }
    &__main div:last-child ul{
      border-bottom: none 
    }
    &__button {
      position: static;
      width: 119px;
      height: 32px;
      margin-right: 30px;
    }
    &__button button {
      position: static;
      // margin-top: auto;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      vertical-align: bottom;
      width: 119px;
      height: 32px;
      background-color: $callBack-references-color;
      border-radius: 16px;
    }
    &__head-table {
      padding: 0;
    }
    &__head-table li:nth-child(1) {
      width: 332px;
    }
    &__head-table li:last-child {
      margin-right: 166px;
      visibility: hidden;
    }
    &__logo h3 {
      display: none;
    }  
    &__logo li:nth-child(1) {
      width: 368px;
    }
    &__logo li {
      min-width: 100px;
    }
    &__logo li:nth-child(2) {
      padding-left: 15px;
    }
    &__main {
      flex-direction: column;
    }
    &__main div {
      background-color: $white-color;
    }
    &__header {
      margin-bottom: 20px;
    }
  }
  @media all and (max-width: 768px) {
    &__logo li {
      margin-left: 10px;
    }
    &__head-table {
      display: none;
    }
    &__main {
      margin-bottom: 20px;
    }
  }
  @media all and (min-width: 1120px) {
    &__logo li:last-child {
      margin: 0;
    }
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}
