@font-face {
        font-family: 'TT Lakes';
        src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
        font-style: light;
        font-weight: 300;
}
@font-face {
        font-family: 'TT Lakes';
        src: url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
        font-weight: bold;
        font-style: bold;
}

@font-face {
        font-family: 'TT Lakes';
        src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
        font-weight: medium;
        font-style: medium;
}

